<form [formGroup]="registerForm" (ngSubmit) = "register()">
<mat-form-field appearance="fill">
    <input formControlName="login" matInput matNativeControl placeholder="Wpisz swój login">
    <mat-label>Login</mat-label>
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Wpisz swój Email</mat-label>
    <input formControlName="email" matInput placeholder="jan@kowalski.pl" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Hasło</mat-label>
    <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Potwierdź hasło</mat-label>
    <input formControlName="password2" matInput [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
</mat-form-field>

<button mat-raised-button color="primary" onc>Zarejestruj się</button>
</form>
<br>
<a routerLink=''>Masz już konto? Zaloguj się</a>