:host{
    flex-direction: column;
    display: flex;
    justify-content:center;
    align-items:center;
  }


mat-form-field{
    width: 15vw;
}  

app-top{
    width: 100%;    
}

form{
  flex-direction: column;
  display: flex;
  justify-content:center;
  align-items:center;
  margin-top: 10%;
}